{% extends "templates/pageTempl.html" %}

{% block commonStyles %}

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="well col-md-5">
            <h1 class="text-center">Настройки</h1>
            <form action="/admin/settings" method="POST">
                <div class="form-group">
                    <label for="provider">Адрес ноды:</label>
                    <input id="provider" class="form-control" type="text" name="edit[provider]" value="{{ options.provider }}">
                </div>

                <!--div class="form-group">
                    <label for="walletAddr">Адрес кошелька:</label>
                    <input id="walletAddr" class="form-control" type="text" name="edit[adminWalletAddr]" value="{{ options.adminWalletAddr }}">
                </div>

                <div class="form-group">
                    <label for="privateKey">Приватный ключ:</label>
                    <input id="privateKey" class="form-control" type="text" name="edit[adminPrivKey]" value="{{ options.adminPrivKey }}">
                </div-->

                <div class="form-group">
                    <label for="passPhrase">Парольная фраза:</label>
                    <input id="passPhrase" class="form-control" type="text" name="edit[passPhrase]" value="{{ options.passPhrase }}">
                </div>

                <div class="form-group">
                    <label for="gas">Количество газа:</label>
                    <input id="gas" class="form-control" type="text" name="edit[gas]" value="{{ options.gas }}">
                </div>

                <div class="form-group">
                    <label for="kf">Коэффициент:</label>
                    <input id="kf" class="form-control" type="text" name="edit[kf]" value="{{ options.kf }}">
                </div>

                <div class="form-group">
                    <label for="wallets">Кошельки:</label>
                    {% for i in range(0, options.address.length) -%}
                        <input class="wallets form-control" type="text" name="address[{{i}}]" value="{{  options.address[i] }}">
                        <input class="wallets form-control" type="text" name="privateKey[{{i}}]" value="{{ options.privateKey[i] }}">
                        <hr>
                    {%- endfor %}
                    <p>добавить кошелек:</p>
                    <input class="wallets form-control" type="text" name="address[{{options.address.length}}]" value="" placeholder="address">
                    <input class="wallets form-control" type="text" name="privateKey[{{options.address.length}}]" value="" placeholder="privateKey">
                    <hr>
                </div>
                <button class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        <div class="col-md-7">
            <h1 class="text-center">Логи операций</h1>
            <div class="table-responsive" style="height: 80vh; overflow-y: auto">
                <table class="table">
                    <tr>
                        <th>Дата и время</th>
                        <th>Операция и её аргументы</th>
                        <th>Статус операции</th>
                    </tr>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.date }}</td>
                        <td>{{ log.function }}</td>
                        <td>{{ log.status }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block commonJS %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}