{% extends "templates/pageTempl.html" %}

{% block commonStyles %}
<style>
    input, textarea{
        width: 80%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    Что бы отправить запрос к API необходим ключ: <input type="text" placeholder="Ключ доступа"><br>

    <h2>Создать кошелек для пользователя</h2>
    <input id="c_userId" type="text" placeholder="User ID">
    <br>
    <button onclick="createUser()">Отправить</button>
    <br><br>
    <textarea id="createuser" rows="5" placeholder="ответ сервера"></textarea>

    <h2>Пополнить админом</h2>
    <input id="a_userId" type="text" placeholder="User ID">
    <br>
    <input id="a_tokens" type="text" placeholder="Число токенов">
    <br>
    <button onclick="sendAdmin()">Отправить</button>
    <br><br>
    <textarea id="sendadmin" rows="5" placeholder="ответ сервера"></textarea>

    <h2>Перевод от юзера к юзеру</h2>
    <input id="u_idFrom" type="text" placeholder="От кого">
    <br>
    <input id="u_idTo" type="text" placeholder="кому">
    <br>
    <input id="u_tokens" type="text" placeholder="Число токенов">
    <br>
    <button onclick="sendUser()">Отправить</button>
    <br><br>
    <textarea id="senduser" rows="5" placeholder="ответ сервера"></textarea>

    <h2>Баланс в токенах</h2>
    <input id="b_id" type="text" placeholder="User ID">
    <br>
    <button onclick="tokenBalance()">Отправить</button>
    <br><br>
    <textarea id="tokenbalance" rows="5" placeholder="ответ сервера"></textarea>

    <h2>Доступы к кошельку</h2>
    <input id="w_id" type="text" placeholder="User Id">
    <br>
    <button onclick="getWallet()">Отправить</button>
    <br><br>
    <textarea id="getWallet" rows="5" placeholder="ответ сервера"></textarea>

    <h2>Цена транзакции</h2>
    <button onclick="getGasPrice()">Отправить</button>
    <br><br>
    <textarea id="gasprice" rows="5" placeholder="ответ сервера"></textarea>
</div>

{% endblock %}

{% block commonJS %}
<script src="/js/jquery-2.2.3.min.js"></script>
    <script>
        
        function createUser(){
            let params = {
                userId: $("#c_userId").val()
            }
            $.post( "/create/user", params)
            .done(function (data) {
                let code = data.code,
                    error = data.error||'',
                    msg = `code:${code} \n${error}`
                $("#createuser").val(msg);
            });
        }

        function sendAdmin(){
            $("#sendadmin").attr("placeholder", "Ожидание ответа от сервера...");
            let params = {
                userId: $("#a_userId").val(),
                tokens: $("#a_tokens").val()
            }
            $.post( "/send/admin", params)
            .done(function (data) {
                let code = data.code,
                    error = data.error||'',
                    msg = `code:${code} \n${error}`
                $("#sendadmin").val(msg);
            });
        }

        function sendUser(){
            $("#senduser").attr("placeholder", "Ожидание ответа от сервера...");
            let params = {
                idFrom: $("#u_idFrom").val(),
                idTo: $("#u_idTo").val(),
                tokens: $("#u_tokens").val()
            }
            params.tokens = Number(params.tokens)*100000;
            $.post( "/send/user", params)
            .done(function (data) {
                let code = data.code,
                    error = data.error||'',
                    msg = `code:${code} \n${error}`
                $("#senduser").val(msg);
            });
        }

        function tokenBalance(){
            $("#tokenbalance").attr("placeholder", "Ожидание ответа от сервера...");
            let params = {
                id: $("#b_id").val(),
            }
            $.get( "/token/" + params.id)
            .done(function (data) {
                let code = data.code,
                    error = data.error||'',
                    tokens = data.token/100000||'0',
                    msg = `Баланс:${tokens} EVC \ncode:${code} \n${error}`
                $("#tokenbalance").val(msg);
            });
        }

        function getWallet(){
            $("#getWallet").attr("placeholder", "Ожидание ответа от сервера...");
            let params = {
                id: $("#w_id").val(),
            }
            $.get( "/wallet/" + params.id)
            .done(function (data) {
                let code = data.code,
                    wallet = data.wallet,
                    msg = `Адрес:${wallet.address} PrivateKey:${wallet.privateKey} \ncode:${code}`
                $("#getWallet").val(msg);
            });
        }

        function getGasPrice(){
            $.get("/price")
            .done(function (data) {
                let gwei = data.gwei,
                    eth = data.eth,
                    usd = data.usd,
                    msg = `gwei:${gwei} \neth:${eth} \nusd:${usd}`;
                $("#gasprice").val(msg)
            });
        }  
    </script>
{% endblock %}